/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: rgb(227, 229, 235);
  font-size: 1em;
  line-height: 1.4;
  background-color: #141414;
  overflow-x: hidden;
}


.folderTop {
  background-color: #282c34;
  height: 46vh;
  position: absolute;
  top:0px;
  right:0px;
  left:0px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 1.15s;
  border-bottom-style: dashed;
  border-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.topFolderRibbon {
 background-color: #222;
 border-top-style: dashed;
 border-color: #fff;
 height:150px;
}

.upOffScreenAnimation {
  animation-name: upOffScreen;
}
.upOffScreenAnimationFolder {
  animation-name: upOffScreenFolder;
}

@keyframes upOffScreen {
  0% {top:-10vh}
  10% {top:-7vh}
  100% {top: -80vh}
}

@keyframes upOffScreenFolder {
  0% {}
  2% {top: -5px}
  100% {top: -80vh}
}

.folderBottom {
  background-color:#282c34;
  height: 165vh;
  position: absolute;
  bottom: -110vh;
  right:0px;
  left: -1px;
  animation-duration: 3s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
  border-top-style: dashed;
  border-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downOffScreenAnimation {
  animation-name: downOffScreen;
}

@keyframes downOffScreen {
  0% {bottom: -110vh}
  15%{ bottom: -106vh;
  min-height: 165vh;}
  70%{ opacity:100%}
  71%{ opacity:0%}
  90% {bottom: -180vh;
      min-height: 65vh;}
  100% {opacity: 0%;
        bottom: -80vh}
}

.claspContainer {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position: absolute;
  top: -10vh;
  animation-duration: 2s;
  animation-delay: .65s;
  animation-fill-mode: forwards;
}

.clasp {
  background-color:slategray;
  width: 10vw;
  min-width: 180px;
  height: 70vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 90px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

.claspButton {
  width: 180px;
  height:180px;
  z-index: 4;
  animation-fill-mode: forwards;
  margin-bottom: 1.5vh;
}

.animatedClasp {
  animation-name: claspStarAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes claspStarAnimation{
  0% {
    margin-bottom: 3vh;
  }
  50% {
    margin-bottom: 1.5vh;
  }
  100% {
    margin-bottom: 3vh;
  }
}

.buttonSpin {
  animation-name: claspStarSpin, claspStarAnimation;
  animation-duration: 6s;
}

@keyframes claspStarSpin{
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 720deg;
  }
  100% {
    rotate: 2160deg;
  }
}

.clickAnimationContainer {
  position:absolute;
  top: 35vh;
  height: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.claspAnimation {
  width: 200px;
  height: 200px;
  z-index: 1;
  animation-duration: .6s;
  opacity:0%;
}

.claspAnimationAnimation {
  animation-name: clickery;
}

@keyframes clickery {
  0% {margin-top: 100px;
    opacity: 0%;
    width: 200px;
    height: 200px;}
  30% {opacity: 100%}
  80% {margin-top: 0px;
    opacity: 100%;
    width: 400px;
  height: 400px;}
  100% {opacity: 0%;
    margin-top: 0px;
    width: 400px;
    height: 400px;}
}

.claspButtonBack {
  width:100px;
  margin-left: 20px;
  margin-top: 20px;
}

.spacer {
  margin-top: 10vh;
}

.menu {
  display: flex;
  justify-content: center;
  opacity: 0%;
  animation-duration: 4s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  position:sticky;
  top:0;
  z-index: 1;
  background: linear-gradient(#141414, rgba(1, 1, 1, 0));
  padding-bottom: 2vh;
}

.menuItem {
  color:#282c34;
  border-radius: 4px;
  width:10vw;
  min-width:90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-height: 48px;
  margin-left:1vw;
  margin-right: 1vw;
}

.menuItem:hover{
  cursor: pointer;
}

.menuItem:hover .menuStarHovers{
    animation-name:hoverAnimation;
}


@keyframes hoverAnimation {
  0%   {}
  50%  {width: 1px;}
  100% {width: 10vw;}
}

.menuItem:hover .menuStarHoveredHovers{
  animation-name: hoverAnimationTwo;
}

@keyframes hoverAnimationTwo {
  0% {}
  20%   {width: 0px;
        height: 50px;}
  60%  {width: 13vw;
        height: 100px;}
  100% {width: 13vw;}
}

.menuItem:hover .menuWordsHovers{
  animation-name: hoverAnimationThree;
}

@keyframes hoverAnimationThree {
  0%   {opacity: 0;}
  50%  {opacity:0}
  100% {opacity: 100%}
}

.menuItemText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width:64px;
  height:64px;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.menuStar {
  width: 100px;
  height: 100px;
  object-fit: fill;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menuStarHovered {
  width: 0px;
  height: 100px;
  object-fit: fill;
  position:absolute;
  display: inline-block;
  animation-duration: 1.25s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

.menuWords {
  position: absolute;
  opacity: 0%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.fileContainer {
  display: flex;
  width: 500vw;
  position:relative;
  left: -200vw;
  animation-duration: 5.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  position: relative;
  top:-10vh;
}

.file {
  margin: 5vw;
  width: 90%;
  height: fit-content;
  background-color: #282c34;
  border-style: dashed;
  border-color: #fff;
  border-radius: 16px;
  animation-duration: 5.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: -1;
  opacity: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.offscreenFile {
  margin: 5vw;
  width: 90%;
  background-color: #282c34;
  border-style: dashed;
  border-color: #fff;
  border-radius: 16px;
  animation-duration: 5.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  z-index: 0;
  position: relative;
}

.fileHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

.fileTitle {
  font-size: 4em;
  text-align: center;
}

.headerText {
  font-size: 2em;
  text-align: center;
  margin-left: 7vw;
  margin-right: 7vw;
}

.titleDivider {
  rotate:90deg;
  width:64px;
  height:64px;
}

.filePocket {
  margin-top: 2vh;
  margin-bottom: 3vh;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 45vh;
  background-color: #1a1e25;
  display: flex;
  justify-content: space-evenly;
  border-color: #1a1e25;;
  border-style: dashed;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  z-index: 4;
}

.filePocket:hover{
  cursor: pointer;
  border-color: #fff;
}

.pocketHoverFile {
  width: 90%;
  background-color:white;
  height:90%;
  z-index: 0;
}

.pocketImage {
  width: 20vw;
  height: 20vw;
  min-width: 200px;
  min-height: 200px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.pocketDivider {
  width:64px;
  height:64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.5vw;
}

.pocketText {
 width: 50%;
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 margin-left: 2.5vw;
 margin-right: 2.5vw;
 text-align: center;
}

.pocketTitle {
  font-size: 2em;
}

.pocketText .p {
  align-items: center;
 }

.openedPageBackground {
  width: 0;
  height: 0;
  position: fixed;
  top:0;
  background-color: rgba(0,0,0, .7);
  z-index: 10;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
}

.openedPageBackground2 {
  width: 0;
  height: 0;
  position: fixed;
  top:0;
  background-color: rgba(0,0,0, .7);
  z-index: 20;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
}

.openAnimation {
animation-name: openingAnimation;
}

@keyframes openingAnimation {
0% {opacity:0%}
2% {opacity: 0%;
    width: 100%;
  height: 100%;}
  100% {opacity:100%;
    width: 100%;
    height: 100%;}
}

.closeAnimation {
animation-name: closingAnimation;
}

@keyframes closingAnimation {
  0%{opacity:100%;
    width: 100%;
    height: 100%;}
  95% {opacity:0%;
      width:100%;
      height:100%}
  100%{
  width: 0px;
  height: 0px;
  opacity:0%
  }
}

.openedPageBox {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100vw;

}

.openedPage {
  top: -200vh;
  left: -100vw;
  width: 10px;
  height: 10px;
  position: relative;
  background-color: rgb(46, 53, 59);
  z-index: 11;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0%;
  border-radius: 64px;
  border-style: dashed;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.expandedImageBox {
  top: -100vh;
  position: fixed;
  z-index: 25;
  opacity: 0%;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expandedImage {
  max-width: 90%;
  max-height: 90vh;
  margin-top: 100vh;
}

.imageOpenAnimation {
  animation-name: imagePopUp;
  }
  
  @keyframes imagePopUp {
    0% {
    opacity: 0%;}
    2% {top: 50vh;
    opacity: 0%;}
    100% {top:0vh;
    opacity: 100%;
  }
}
  .imageCloseAnimation {
    animation-name: imageClose;
    }
    
    @keyframes imageClose {
      100% {
        opacity: 0%;}
        98% {top: 50vh;
        opacity: 0%;}
        0% {top:0vh;
        opacity: 100%;
      }
    }

.pageTitle {
  font-size: 3em;
  margin:3vh;
}

.pageInfoBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vw;
  text-align: center;
}

.pageInfoTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pageInfoTitle {
  font-size: 2em;
  margin-bottom: 3vh;
}

.pageInfoText {
  font-size: 1.5em;
}

.pageImageBox {
display: flex;
flex-wrap: wrap;
width: 45vw;
margin-left: 3vw;
margin-right: 3vw;
justify-content: center;
}

.pageImageBox2 {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left:  3vw;
  margin-right: 3vw;
  justify-content: center;
  margin-bottom: 3vh;
  }

.pageImage {
  border-style:solid;
  border-radius: 30px;
  max-width: 45%;
  height: auto;
  object-fit: cover;
}

a {
  color: white;
}

a::after {
  color: white;
}


.pageImage:hover {
  cursor: pointer;
}

.pageImage3 {
  border-style:solid;
  border-radius: 10px;
  max-width: 30%;
  height: auto;
  object-fit: cover;
}

.pageImage2:hover {
  cursor: pointer;
}

.pageImage2 {
  border-style:solid;
  border-radius: 10px;
  max-width: 85%;
  height: auto;
  object-fit: cover;
}

.pageImage3:hover {
  cursor: pointer;
}

.pageImageLong {
  border-style:solid;
  border-radius: 30px;
  max-height: 45%;
}

.pageImageLong:hover {
  cursor: pointer;
}

.closeText {
  position: relative;
  top: -32px;
}

.pageOpenAnimation {
animation-name: pagePopUp;
}

@keyframes pagePopUp {
  0% {left: auto;
    width: 80vw;
    height: auto;
  opacity: 0%;}
  2% {top: 50vh;
  opacity: 0%;}
  100% {left:auto;
    top:5vh;
  opacity: 100%;
  width: 80vw;
  height: auto;}
}

.pageCloseAnimation {
  animation-name: pageClose;
  }
  
  @keyframes pageClose {
    100% {width: 0;
      height: 0;
    opacity: 0%;
  left:-100vw;}
    98% {top: 50vh;
    opacity: 0%;
    width: 80vw;
    height: auto;
  left:auto;}
    0% {top:5vh;
    opacity: 100%;
    width: 80vw;
    height: auto;
  left:auto}
  }


/* ----------------------------------------------------------------------------------- */

.fileFromOffScreen1 {
animation-name: fromOffScreen1;
animation-duration: 2s;
animation-delay: 0;
}

@keyframes fromOffScreen1 {
  0% {left: 100vw;
  opacity: 0%}
  100% {left: 200vw;
  opacity: 100%;}
}

.fileToOffScreen1 {
animation-name: toOffScreen1;
animation-duration: 2s;
animation-delay: 0;
}

@keyframes toOffScreen1 {
    0% {left: 200vw;
  opacity: 100%}
  100% {left: 300vw;
  opacity: 0%;}
}

/* ----------------------------------------------------------------------------------- */

.fileFromOffScreen2 {
  animation-name: fromOffScreen2;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes fromOffScreen2 {
    0% {left: 0vw;
    opacity: 0%}
    100% {left: 100vw;
    opacity: 100%;}
  }
  
  .fileToOffScreen2 {
  animation-name: toOffScreen2;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes toOffScreen2 {
      0% {left: 100vw;
    opacity: 100%}
    100% {left: 200vw;
    opacity: 0%;}
  }
  
/* ----------------------------------------------------------------------------------- */

.fileFromOffScreen3 {
  animation-name: fromOffScreen3;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes fromOffScreen3 {
    0% {left: -100vw;
    opacity: 0%}
    100% {left: 0vw;
    opacity: 100%;}
  }
  
  .fileToOffScreen3 {
  animation-name: toOffScreen3;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes toOffScreen3 {
      0% {left: 0vw;
    opacity: 100%}
    100% {left: 100vw;
    opacity: 0%;}
  }
  
/* ----------------------------------------------------------------------------------- */

.fileFromOffScreen4 {
  animation-name: fromOffScreen4;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes fromOffScreen4 {
    0% {left: -200vw;
    opacity: 0%}
    100% {left: -100vw;
    opacity: 100%;}
  }
  
  .fileToOffScreen4 {
  animation-name: toOffScreen4;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes toOffScreen4 {
      0% {left: -100vw;
    opacity: 100%}
    100% {left: 0vw;
    opacity: 0%;}
  }
  
/* ----------------------------------------------------------------------------------- */

.fileFromOffScreen5 {
  animation-name: fromOffScreen5;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes fromOffScreen5 {
    0% {left: -300vw;
    opacity: 0%}
    100% {left: -200vw;
    opacity: 100%;}
  }
  
  .fileToOffScreen5 {
  animation-name: toOffScreen5;
  animation-duration: 2s;
  animation-delay: 0;
  }
  
  @keyframes toOffScreen5 {
      0% {left: -200vw;
    opacity: 100%}
    100% {left: -100vw;
    opacity: 0%;}
  }
  
        


.appearingAnimationClass {
  animation-name: appearingAnimation;
}

@keyframes appearingAnimation {
  0% {
      opacity: 0%;}

  60% {margin-top:50vh;
      opacity: 0%;}

  100% {margin-top:10vh;
      opacity:100%}
  
}

.menuStarClicked{
  animation-name:hoverAnimationClicked;
}


@keyframes hoverAnimationClicked {
100%   {}
50%  {width: 1px;}
0% {width: 10vw;}
}

.menuStarHoveredClicked{
animation-name: hoverAnimationTwoClicked;
}

@keyframes hoverAnimationTwoClicked {
  100%   {width: 0px;
    height: 50px;}
    50% {width: 0px;
      height: 50px;}
20%  {
    height: 100px;}
0% {width: 13vw;}
}

.menuWordsClicked{
animation-name: hoverAnimationThreeClicked;
}

@keyframes hoverAnimationThreeClicked {
100%   {opacity: 0;}
50%  {opacity:0}
0% {opacity: 100%}
}

.starClicked {
  width: 10vw;
  }
  
  .hoveredClicked {
  width:13vw;
  height:100px;
  }
  
  .wordsClicked {
  opacity: 100%;
  }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

